@charset "UTF-8";
header{
    background-color: var(--contrast-color);
    min-height: 50px;
}
nav {
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
nav > a {
    padding: 30px;
    text-decoration: none;
    color: var(--color1);
}
header > img{
    max-width: 75px;
}
body {
    font: normal 1em var(--font-standard);   
    background-repeat: repeat;
}
footer {
    min-height: 20px;
    text-align: center;
    background-color: var(--contrast-color);
}