.modal{
  margin: auto;
  max-width: 500px;
  min-height: 400px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 1000;
}

/* quando ativo */
.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* caixa do modal */
.modal {
  background: #0b1f44; /* mesmo tom dos cards */
  color: white;
  width: 90%;
  max-width: 400px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: translateY(30px);
  transition: 0.3s ease;
}

/* animação */
.modal-overlay.active .modal {
  transform: translateY(0);
}

/* título */
.modal h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

/* texto */
.modal p {
  margin-bottom: 20px;
  font-size: 16px;
}

/* botão */
.modal a {
  display: inline-block;
  padding: 10px 20px;
  background: #f2d55c; /* seu amarelo */
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.modal a:hover {
  transform: scale(1.05);
}

/* botão fechar */
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
}